<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer un personnage</title>
    <!-- Inclure les fichiers CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="mb-3">
        <a class="btn btn-secondary" href="/personnages/">Retour à l'accueil</a>
    </div>
    <h2 class="mt-4">Création de personnage</h2>

    <form action="#" method="post" th:action="@{/personnages/create}" th:object="${personnage}">

        <div class="mb-3">
            <label class="form-label" for="name">Nom:</label>
            <input class="form-control" id="name" required th:field="*{nom}" type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="race">Race:</label>
            <select class="form-select" id="race" th:field="*{race}">
                <option value="HUMAIN">Humain</option>
                <option value="ELFE">Elfe</option>
                <option value="DEMI_ELFE">Demi-Elfe</option>
                <option value="NAIN">Nain</option>
                <option value="DEMI_ORQUE">Demi-Orque</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="profilType">Type de Profil:</label>
            <select class="form-select" id="profilType" th:field="*{profilType}">
                <option value="GUERRIER">Guerrier</option>
                <option value="MAGICIEN">Magicien</option>
                <option value="PRETRE">Prêtre</option>
                <option value="RODEUR">Rôdeur</option>
                <option value="VOLEUR">Voleur</option>
            </select>
        </div>

        <h3 class="mb-3">Répartition des points de caractéristiques (15 points à répartir)</h3>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label" for="force">Force:</label>
                <input class="form-control" id="force" max="20" min="3" th:field="*{caracteristiques.force_stat}"
                       type="number">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="dexterite">Dextérité:</label>
                <input class="form-control" id="dexterite" max="20" min="3"
                       th:field="*{caracteristiques.dexterite}" type="number">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="constitution">Constitution:</label>
                <input class="form-control" id="constitution" max="20" min="3"
                       th:field="*{caracteristiques.constitution}" type="number">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="intelligence">Intelligence:</label>
                <input class="form-control" id="intelligence" max="20" min="3"
                       th:field="*{caracteristiques.intelligence}" type="number">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="sagesse">Sagesse:</label>
                <input class="form-control" id="sagesse" max="20" min="3" th:field="*{caracteristiques.sagesse}"
                       type="number">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="charisme">Charisme:</label>
                <input class="form-control" id="charisme" max="20" min="3" th:field="*{caracteristiques.charisme}"
                       type="number">
            </div>
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Créer">
        </div>

    </form>

    <p class="text-danger" th:if="${error}">Erreur : <span th:text="${error}"></span></p>
</div>

<div class="container mt-4">
    <h2>Informations du dernier personnage créé :</h2>
    <table class="table" th:if="${dernierPersonnage != null}">
        <tr>
            <th>Nom</th>
            <td th:text="${dernierPersonnage.nom}"></td>
        </tr>
        <tr>
            <th>Race</th>
            <td th:text="${dernierPersonnage.race}"></td>
        </tr>
        <tr>
            <th>Type de Profil</th>
            <td th:text="${dernierPersonnage.profilType}"></td>
        </tr>
        <tr>
            <th>Force (mod)</th>
            <td th:text="${dernierPersonnage.caracteristiques.force_stat} + (${dernierPersonnage.caracteristiques.forceModifier} >= 0 ? ' (+' : ' (') + ${dernierPersonnage.caracteristiques.forceModifier} + ')'"></td>
        </tr>
        <tr>
            <th>Dextérité (mod)</th>
            <td th:text="${dernierPersonnage.caracteristiques.dexterite} + (${dernierPersonnage.caracteristiques.dexteriteModifier} >= 0 ? ' (+' : ' (') + ${dernierPersonnage.caracteristiques.dexteriteModifier} + ')'"></td>
        </tr>
        <tr>
            <th>Constitution (mod)</th>
            <td th:text="${dernierPersonnage.caracteristiques.constitution} + (${dernierPersonnage.caracteristiques.constitutionModifier} >= 0 ? ' (+' : ' (') + ${dernierPersonnage.caracteristiques.constitutionModifier} + ')'"></td>
        </tr>
        <tr>
            <th>Intelligence (mod)</th>
            <td th:text="${dernierPersonnage.caracteristiques.intelligence} + (${dernierPersonnage.caracteristiques.intelligenceModifier} >= 0 ? ' (+' : ' (') + ${dernierPersonnage.caracteristiques.intelligenceModifier} + ')'"></td>
        </tr>
        <tr>
            <th>Sagesse (mod)</th>
            <td th:text="${dernierPersonnage.caracteristiques.sagesse} + (${dernierPersonnage.caracteristiques.sagesseModifier} >= 0 ? ' (+' : ' (') + ${dernierPersonnage.caracteristiques.sagesseModifier} + ')'"></td>
        </tr>
        <tr>
            <th>Charisme (mod)</th>
            <td th:text="${dernierPersonnage.caracteristiques.charisme} + (${dernierPersonnage.caracteristiques.charismeModifier} >= 0 ? ' (+' : ' (') + ${dernierPersonnage.caracteristiques.charismeModifier} + ')'"></td>
        </tr>

        <tr>
            <th>Pv</th>
            <td th:text="${dernierPersonnage.totalHitPoints}"></td>
        </tr>
        <tr>
            <th>CA</th>
            <td th:text="${dernierPersonnage.caracteristiques.ca}"></td>
        </tr>
        <tr>
            <th>CaC</th>
            <td th:text="${dernierPersonnage.caracteristiques.cac}"></td>
        </tr>
        <tr>
            <th>CaD</th>
            <td th:text="${dernierPersonnage.caracteristiques.cad}"></td>
        </tr>

    </table>
</div>

<!-- Inclure les fichiers JavaScript de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
